# Funções em Python

In [2]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

## Funções com argumentos

In [7]:
def my_function_2(nome = "Junior"): # Argumento (nome) Default é "Junior", mas pode ser alterado
  print("Hello " + nome + " from a function")

my_function_2()  # Usa o Default

my_function_2("Maria") # Muda o nome default

Hello Junior from a function
Hello Maria from a function

## Funções com mais de um argumento

In [13]:
def my_function(lname, rname):
  print(lname + " e " + rname + " são casados")

my_function("Zé", "Maria")

Zé e Maria são casados

### ERRO

In [14]:
my_function("Zé")

TypeError: ignored

## Se houver o Default não gera erro

In [19]:
def my_function(lname = "Zé", rname = "Maria"):
  print(lname + " e " + rname + " são casados")

my_function("Zé")

Zé e Maria são casados

In [21]:
my_function("João")
my_function("João", "Solange")

João e Maria são casados
João e Solange são casados

### Quer trocar só o segundo argumento ? -> Especifique

In [20]:
my_function(rname = "João")

Zé e João são casados

## Passar uma lista como argumento

In [23]:
def my_function(filosofos):
  for x in filosofos:
    print(x)

filosofos = ["Platão", "Aristóteles", "Sócrates","Badin"]

my_function(filosofos)

# pra quem não conhece o Badin https://www.youtube.com/@Badincolono

Platão
Aristóteles
Sócrates
Badin

## O nome do argumento na função pode ser diferente do nome da chamada da função

In [24]:
phil = ["Platão", "Aristóteles", "Sócrates","Badin","Santo Fole"]

my_function(phil)

# pra quem não conhece o Santo Fole https://www.instagram.com/santofole/

Platão
Aristóteles
Sócrates
Badin
Santo Fole