In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'2.0.1'

## Tipos em Pandas

In [3]:
frutas = ["Maçã", "Banana", "Graviola", "Umbu", "Carambola", "Jaca"]
pd.Series(frutas)

0         Maçã
1       Banana
2     Graviola
3         Umbu
4    Carambola
5         Jaca
dtype: object

In [5]:
megaSena = [3, 12, 27, 30, 45, 59]
pd.Series(megaSena)

0     3
1    12
2    27
3    30
4    45
5    59
dtype: int64

In [6]:
evento = [True, False, True, True, True, False, False]
pd.Series(evento)

0     True
1    False
2     True
3     True
4     True
5    False
6    False
dtype: bool

In [7]:
volume = [12.3, 45, 23.6, 92.2,0]

In [8]:
pd.Series(volume)

0    12.3
1    45.0
2    23.6
3    92.2
4     0.0
dtype: float64

In [11]:
time = {
    "Athletico Paranaense": "PR",
    "Flamengo": "RJ",
    "São Paulo": "SP"
}
pd.Series(time)

Athletico Paranaense    PR
Flamengo                RJ
São Paulo               SP
dtype: object

## Métodos em Pandas

In [12]:
"hello".upper()

'HELLO'

In [14]:
values = [1,2,3]
values.append(4)
values

[1, 2, 3, 4]

In [19]:
preços = pd.Series([1.99, 3.00, 5.31])

In [20]:
preços.sum()

10.3

In [21]:
preços.mean()

3.4333333333333336

## Atributos da Série

In [23]:
adjetivos = pd.Series(["inteligente", "lindo", "charmoso", "brilante", "honesto", "modesto"])
adjetivos

0    inteligente
1          lindo
2       charmoso
3       brilante
4        honesto
5        modesto
dtype: object

In [24]:
adjetivos.size

6

In [25]:
adjetivos.is_unique

True

In [27]:
adjetivos = pd.Series(["inteligente", "lindo", "charmoso", "brilante", "honesto", "modesto", "modesto"])
adjetivos.is_unique

False

In [28]:
adjetivos.shape

(7,)

In [29]:
type(adjetivos.values)

numpy.ndarray

In [30]:
adjetivos.index

RangeIndex(start=0, stop=7, step=1)

In [31]:
adjetivos.dtype

dtype('O')

## Index

In [34]:
frutas = ["Maçã", "Banana", "Graviola", "Umbu", "Carambola", "Jaca", "Laranja"]
diasSemana = ["Segunda-feira","Terça-feira","Quarta-feira","Quinta-feira","Sexta-feira","Sabado","Domingo"]

In [35]:
pd.Series(frutas, diasSemana)

Segunda-feira         Maçã
Terça-feira         Banana
Quarta-feira      Graviola
Quinta-feira          Umbu
Sexta-feira      Carambola
Sabado                Jaca
Domingo            Laranja
dtype: object

In [36]:
pd.Series(diasSemana, frutas)

Maçã         Segunda-feira
Banana         Terça-feira
Graviola      Quarta-feira
Umbu          Quinta-feira
Carambola      Sexta-feira
Jaca                Sabado
Laranja            Domingo
dtype: object

In [37]:
pd.Series(index = diasSemana, data = frutas)

Segunda-feira         Maçã
Terça-feira         Banana
Quarta-feira      Graviola
Quinta-feira          Umbu
Sexta-feira      Carambola
Sabado                Jaca
Domingo            Laranja
dtype: object